body {
    font-size: 14px;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-weight: 300; 
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #32373E url('../images/logo.png') no-repeat 9px;
    background-size: 69px 20px;
}
header .logo { flex-grow: 5;}
header .logo img { height: 20px;}

header i.avatar { flex-grow: 0; margin-right: 5px; font-size: 19px; }

header .login { flex-grow: 0; margin-right: 10px}
header .login a { color: #fff; text-decoration: none; line-height: 40px; }

footer {
    height: 100px;
    background: #FAFAFA;
}

div#container {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    min-height: 800px;
}

div#container .header {
    background: #f0fef0;
    min-height: 100px;
}

div#container .h1 { font-size: 1.2rem;}

div#container #main #content {
    width: 78%;
    margin-right: 2%;
    background: #e0e0e0;
    min-height: 800px;
    float: left;
}

div#container #main aside#sidebar {
    width: 20%;
    background: #f0f0f0;
    min-height: 800px;
    float: right;
}

.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
}