.block {
	width: 400px;
	margin: 0 auto;
	display: flex;
}
.my-marquee {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  background: yellow;
}
 
.my-marquee > div {
  display: inline-flex;
  position: relative;

  color: white;
  background: #00aa00;
  white-space: nowrap;
}