.main {
}
.color {
    width: 300px;
    height: 200px;
    float:left;
}
.red {
    background: #cc0000;
}
.green {
    background: #00cc00;
}
.pink {
    background: pink;
    width: 600px;
}
.clearfix:after {
    content: "\20";
    display: block;
    height: 0;
    clear: both;
}