a {
    color: inherit;
}
.menu-item,
.menu-open-button {
    background: #b2f0f8;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: #47959f;
    text-align: center;
    line-height: 60px;
    transform: translate3d(0, 0, 0);
    transition: all ease-out 600ms;
}
.hamburger {
    width: 25px;
    height: 3px;
    background: #47959f;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 400ms;
}
.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
    transform: translate3d(0, 0, 0);
}
.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}
