* {
    margin: 0;
    padding: 0;
    line-height: 1.8em;
}

ul {
    padding-left: 20px;
}
ul li {
    list-style-type: none;
    line-height: 1.8em;
}

.header {
    background: #acacac;
    height: 100px;
}
.page {
    display: flex;
}
.page .content {
    padding: 20px 50px 20px 50px;
}
.page .nav-inner span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
}

